#funds-page {
  min-height: 500px;

  .funds-header {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 32px;
    background-color: antiquewhite;
  }

  .funds-content {
    padding: 16px 32px;
  }
}
